@use "./components/variables";

.festa {
    width: 100%;
    padding: 100px 0;
    background-image: linear-gradient(variables.$corBg4, white);
    &__container {
        margin: 0 auto;
        width: 90%;
        display: flex;
        gap: 40px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
        &__text {
            width: 50%;
            text-align: justify;
            h2 {
                color: black;
            }
            p {
                color: black;
            }
        }
        &__img {
            width: 50%;
            img {
                width: 100%;
                object-fit: cover;
                max-height: 200px;
                min-height: 200px;
            }
        }
    }
}
